.venv
__pycache__/
.pytest_cache/
.coverage
.coverage.*
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl
*.tfvars
.env
tests/__pycache__/
notifications/__pycache__/
cleaning/__pycache__/