SES_SENDER_EMAIL=trainee.tom.king@sigmalabs.co.uk
APP_URL=http://localhost:8501
DB_NAME="firesale"
DB_USER="postgres"
DB_PASSWORD="kH!kiss6#|TLDyCnS3|3ZTTUf9Ie"
DB_HOST="fire-sale-prod.c57vkec7dkkx.eu-west-2.rds.amazonaws.com"
DB_PORT="5432"